td {
    text-align: center;
}

h3 {
    color: #fc7629;
}

p {
    color: #2a3655;
}

.sup_element {
    color: red;
}

/* .first-class {
    color: red;
}

h1 {
    color: green;
}

.third-class {
    color: red;
}

#first-id {
    color: blue;
} */